* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    border: solid black 1px;
    width: 13%;
    height: 100%;
    position: fixed;
    background-position: center;
    top: 0;
    left: 0;
}

.navbar {
    height: 100%;
    background-color: #1f2937;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: all 0.5s ease;
}

.navbar h1 {
    font-size: 20px;
    margin: 0 0 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar h1 a{
    text-decoration: none;
    color: #e5e7eb;
}

.menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}

.menu a {
    text-decoration: none;
    color: #e5e7eb;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.2s;
}

.menu a:hover {
    background-color: #374151;
}
 /* General */
body {
    margin-left: 13%;
}

.title_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

h2 {
    text-align: center;
    width: 100%;
    color: #1f2937;
    padding: 10px;
    border-bottom: solid 1px #1f2937;
    margin-bottom: 15px;
}

/* botones */
.btn-agregar {
    position: absolute;
    right: 3%;
    background-color: #1f2937;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s;
}

.btn-agregar:hover {
    background-color: #155bb5;
}

.btn_eliminar{
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.btn_editar{
    background-color: #1f2937;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.btn_editar:hover {
    background-color: #354261;
}

.btn_eliminar:hover {
    background-color: #d98686;
}

/* Contenido principal */

.main_content {
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
}

/* Tablas */
.main_table {
    border-collapse: collapse;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    text-align: left;
    /* border: 2px solid rgb(11, 11, 163); */
    margin-bottom: 5px;
}

thead{
    background: #1f2937;
    color: #e5e7eb;
}

.main_table th,
.main_table td {
    padding: 5px;
}

.seleccionado {
    background-color: #106480;
    color: #e5e7eb;
}

.seleccionado:hover {
    background-color: #7dabba;
    color: #e5e7eb;
}

table tr:hover {
    background-color: #abd6ff69;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

/* Formularios */

.main_form{
    margin: auto;
    width: fit-content;
}
.main_div{
    display: flex;
    margin-bottom: 8px;
}

.main_div p{
    color: #1f2937;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    text-align: right;
    width: 150px;
}

.input_text{
    margin-right: 5px;
    border: rgba(11, 11, 163, 0.28) solid 1px;
    color: rgba(0, 0, 0, 0.72);
    padding-left: 5px;
    height: 27px;
}

.input_view{
    margin-right: 5px;
    border: none;
    border-bottom: rgba(11, 11, 163, 0.28) solid 1px;
    color: rgba(0, 0, 0, 0.72);
    padding-left: 5px;
    height: 27px;
}